details {
    display:block; 
    width:400px;
    margin-bottom:10px;
}
details summary {
    display:block; 
    background:#c9c9c9;
    border-radius:5px;
    padding:15px;
    cursor:pointer;
    font-weight:bold;
}
details p{
    padding: 5px;
    margin: 0;
}